# Other build files
.vscode/
build/
.vs/

# CMake build files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# make build files
harmonic-hustle

# Mac created files
.DS_Store
data/.DS_Store

# Other files/folders
ext/project_path.hpp

data/saves/*